{% extends 'base.html' %}

{% block heading %} <h1>PAGE ONE</h1> {% endblock %}
{% block h2 %}<h2> SUGAR FLY COOL GUY </h2>{% endblock %}

{% block imgChange %}
        <a target="_blank" href="static/CSS/images/sugar.jpg">
            <img src="static/CSS/images/sugar.jpg" alt="Sugar-Picture" width="340" height="460">
        </a>
    {% endblock %}
{% block p %}
<p>
      Hello! My name is Sugar Fly Cool Guy or Sugar for short, a flame color-point
 peke faced persian </p>{% endblock %}
 {% block ol %}
            <li>I love to sit on you or next to you and be pet for hours and if you stop I will be sure 
                to follow you around until you resume petting me.</li>
            <li>I will demand this kind of attention from any one I meet.</li>
            <li>Finally if I feel ignored for any amount of time I will let you know by meowing as loud 
                a possible for as long as it takes you to give me attention!</li>
            {% endblock %}