{% extends 'base.html' %}

{% block heading %} <h1>PAGE THREE</h1> {% endblock %}
{% block h2 %}<h2> CLEOCATRA </h2>{% endblock %}
{% block imgChange %}
        <a target="_blank" href="static/CSS/images/cleo.jpg">
            <img src="static/CSS/images/cleo.jpg" alt="neffie-Picture" width="340" height="460">
        </a>
    {% endblock %}
{% block p %}
<p>
    Hello! My name is cleocatra but you can call me cleo, Im a tortie color-point
 baby doll faced persian </p>{% endblock %}
 {% block ol %}
            <li>I am the baby of the group.</li>
            <li>I love to "spaz out" and have more energy than most cats of the same breed.
                My favorite thing to do is to play with anything and everything.</li>
            <li>I also love to run up and down the hallway in the middle of the night
                being as loud as I possibly can. For such a small kitten I can make a lot 
                of noise!</li>
            {% endblock %}