{% extends 'base.html' %}

{% block heading %} <h1>PAGE TWO</h1> {% endblock %}
{% block h2 %}<h2> NEFFIE KITTY </h2>{% endblock %}
{% block imgChange %}
        <a target="_blank" href="static/CSS/images/neffie.jpg">
            <img src="static/CSS/images/neffie.jpg" alt="neffie-Picture" width="340" height="460">
        </a>
    {% endblock %}
{% block p %}
<p>
    Hello! My name is Neffie which is actually short for Nefferkitie, a chocolate color-point
 baby doll faced persian </p>{% endblock %}
 {% block ol %}
            <li>I am a princess. </li>
            <li>I expect fancy feast cat food, regular grooming, and kitty treats. I also believe that 
                the couch was bought for me as my personal scratching post and no amount of water in a 
                spray bottle will stop me!
            </li>
            <li>My favorite spot to sleep is the computer desk so I can supervise properly.</li>
            {% endblock %}